@charset "UTF-8";
// ===========================
// TABLE
// ===========================
.table {
  font-size: fs(14);
  color: #022845;
  &-row {
    display: flex;
    border-top: solid 1px #EBEBEB;
    @include mq(sm2) {
      display: block;
      &:last-child {
        border-bottom: solid 1px #EBEBEB;
      }
    }
  }
  &-th,
  &-td {
    display: flex;
    padding: 35px 20px;
  }
  &-th {
    position: relative;
    width: 26%;
    @include mq(sm2) {
      width: 100%;
      padding: 15px;
      border-bottom: solid 1px #EBEBEB;
    }
    &:before {
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #A4C3CB;
      content: "";
    }
  }
  &-td {
    @include mq(sm2) {
      width: 100%;
      padding: 15px;
    }
  }
}


// ===========================
// TABLE2
// ===========================
.table2 {
  @include mq(sm2) {
    overflow-x: auto;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }

  th {
    background-color: #F2F5F7;
    border: 1px solid #E6EEF2;
    box-sizing: border-box;
    font-weight: 700;
    padding: 20px 15px;
    width: 185px;
  }

  td {
    border: 1px solid #E6EEF2;
    box-sizing: border-box;
    padding: 20px 15px;
	}

  &.type2 {
    table {
      @include mq(sm2) {
        width: 220vw;
      }
    }
  }
  
}